<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>forum</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{/css/page/index.css}">
    <script th:src="@{/js/jquery-2.2.3.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div id="app">
    <div id="login">
        <form action="">
            用户名：<input type="text" value="jamison">
            密码：<input type="password" value="1234">
            <input type="submit" value="登录">
        </form>
    </div>
</div>
</body>
<script th:src="@{/js/vue.js}"></script>
<script th:src="@{/js/axios-0.18.0.js}"></script>
<script th:src="@{/js/page/index.js}"></script>
</html>